<p class="navbar-text pull-right">
<% if user_signed_in? %>
Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
<p id="notice"><%= notice %></p>


<div class="view intro hm-white-light jarallax" data-jarallax-video="https://vimeo.com/groups/freehd/videos/153749651" style="background-image: url(https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjvkYii8_nVAhVFlxoKHSu7DtQQjRwIBw&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fnature%2F&psig=AFQjCNG-oc9e20F218hffcliYeo1Pnc2Ag&ust=1504008716552327);">
    <div class="full-bg-img">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
                <div class="row mt-5">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="intro-info-content text-center">
                            <h1 class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">Najib's <a class="white-text font-bold">BLOG</a></h1>
                            <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">Interior designer & Programming lover</h5>
                            <a class="btn btn-elegant btn-lg wow fadeIn" data-wow-delay="0.4s">Posts</a> <a class="btn btn-outline-white btn-lg wow fadeIn" data-wow-delay="0.4s">About me</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>Posts</h1>

<table>
<thead>
<tr>
<th>Title</th>
<th>Description</th>
<th>Tags</th>
<th>User</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @posts.each do |post| %>
  <tr>
  <td><%= post.title %></td>
  <td><%= post.description %></td>
  <td><%= post.tags %></td>
  <td><%= post.user.email %></td>
  <td><%= link_to 'Show', post %></td>
  <% if post.user == current_user %>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% end %>
</tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
