
<div class="container">
<p id="notice"><%= notice %></p>

<p>
<strong>Title:</strong>
<%= @post.title %>
</p>

<p>
<strong>Description:</strong>
<%= @post.description %>
</p>

<p>
<strong>Tags:</strong>
<%= @post.tags %>
</p>

<ul class="collection with-header">
  <li class="collection-header"><h4> <%= @post.comments.count %>Comments</h4></li>
  <%= render @post.comments %>
  <h5>Add comments:</h5>
  <%= render 'comments/form' %>


  <%= link_to 'Back', posts_path %>
  </div>
