<!DOCTYPE html>
<html>
<head>
<title>Najib Osman</title>
<%= csrf_meta_tags %>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Najib Osman</a>
<a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
<ul class="right hide-on-med-and-down">
<li><a href="/projects">Projects</a></li>
<li><a href="/skills">Skills</a></li>
<li><a href="/posts">My Blog</a></li>
<li><a href="/referals">Referal</a></li>
<%if user_signed_in? %>
  <li><%= link_to "Sign-Out", destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to "Sign-In", new_user_session_path,method: :get %></li>
  <li><%= link_to "Sign-Up", new_user_registration_path,method: :get %></li>
  <% end %>
</ul>
<ul class="side-nav" id="mobile-demo">
<li><a href="/projects">Projects</a></li>
<li><a href="/skills">Skills</a></li>
<li><a href="/posts">My Blog</a></li>
<li><a href="/referals">Referal</a></li>
<%if user_signed_in? %>
  <li><%= link_to "Sign-Out", destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to "Sign-In", new_user_session_path,method: :get %></li>
  <% end %>
</ul>
</div>
</nav>

<%= yield %>
<footer class="page-footer blue">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <h5 class="white-text">Contact Me</h5>
         <p class="grey-text text-lighten-4">Email me on: machidydemajka38@gmail.com</p>
         <p class="grey-text text-lighten-4">Phone No: 0727522338</p>
       </div>
       <div class="col l4 offset-l2 s12">
         <h5 class="white-text">Follow me on</h5>
         <ul>
           <li><a class="grey-text text-lighten-3" href="https://twitter.com/Naajib38Othmern"> Twitter</a></li>
           <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/profile.php?id=100004647108022"> Facebook</a></li>
           <li><a class="grey-text text-lighten-3" href="https://github.com/NajibOsman">Github</a></li>
           <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/05car_jr_ner733p/">Instagram</a></li>
         </ul>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
     © 2017 Ner7eeP. All Rights Reserved.
     <a class="grey-text text-lighten-4 right" href="#" target="_blank"></a>
     </div>
   </div>
 </footer>
</body>
</html>
